 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h5>
                    <strong>Site Haritası</strong>
                </h5>
                <hr />
                <p>
                    <a href="/About/About"><span class="glyphicon glyphicon-info-sign"></span> Hakkmızda</a><br />
                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-star"></span> En Beğenilenler</a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span> Son Yazılar</a>
                </p>
            </div>

            <div class="col-lg-6 text-center">
                <h5>
                    <strong>MyEvernote</strong>
                </h5>
                <hr />
                <p>
                    Tüm hakları saklıdır &copy;<br />
                    MyEvernote @DateTime.Now.Year
                </p>
            </div>            
        </div>
    </footer>
</div>
<!-- /.container -->
