
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!--Kateoriler-->
            @Html.Partial("_PartialCategories")
            <!--Kateoriler-->
        </div>
        <div class="col-md-9">
            <div class="row">
                <h2>
                    <strong>Kerem ERMEK</strong>&nbsp; Software Engineer
                </h2>
                <hr />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum dolor at consequat aliquet. Quisque sollicitudin dolor nunc, non imperdiet ex hendrerit sagittis. Maecenas tortor odio, consequat quis vestibulum ut, lacinia sed augue. Nam vel metus libero. Nam a condimentum mi, ut elementum felis.
                    Vivamus interdum nibh quam, at accumsan purus placerat imperdiet. Nulla malesuada fringilla ligula, sed luctus nulla sagittis vitae. Mauris est est, venenatis in nibh sit amet, maximus consequat urna.
                    In vitae mi eget velit condimentum consequat vitae ut erat. Fusce ac metus nec sapien eleifend cursus. Aliquam a arcu libero. Ut sodales nisl ut dolor ultricies, in pulvinar nunc feugiat.
                    Sed sed pretium risus. Nam at egestas sem. Morbi vulputate tempus laoreet. Proin eu ornare dolor, et posuere urna. Aenean vel aliquet metus, nec dictum arcu. Duis sed posuere eros. Ut elementum magna sed augue condimentum aliquam. Aenean rutrum elementum justo eget semper.Cras tempor malesuada tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a nulla a lacus dictum commodo at vel tellus. Ut sit amet iaculis tortor. Cras eu felis sit amet ex ultricies finibus. Suspendisse ultrices enim et fermentum rutrum. Nullam convallis velit quis libero volutpat laoreet. Sed sed dapibus nunc, ut bibendum sem. Sed nibh risus, convallis eu aliquam sit amet, fermentum quis nunc. Proin in tempor leo. Praesent id tortor ac ipsum imperdiet rutrum. Integer porta urna sed dui vulputate luctus. Vestibulum ac sem eget massa consectetur egestas quis sed risus.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum dolor at consequat aliquet. Quisque sollicitudin dolor nunc, non imperdiet ex hendrerit sagittis. Maecenas tortor odio, consequat quis vestibulum ut, lacinia sed augue. Nam vel metus libero. Nam a condimentum mi, ut elementum felis.
                    Vivamus interdum nibh quam, at accumsan purus placerat imperdiet. Nulla malesuada fringilla ligula, sed luctus nulla sagittis vitae. Mauris est est, venenatis in nibh sit amet, maximus consequat urna.
                    In vitae mi eget velit condimentum consequat vitae ut erat. Fusce ac metus nec sapien eleifend cursus. Aliquam a arcu libero. Ut sodales nisl ut dolor ultricies, in pulvinar nunc feugiat.
                    Sed sed pretium risus. Nam at egestas sem. Morbi vulputate tempus laoreet. Proin eu ornare dolor, et posuere urna. Aenean vel aliquet metus, nec dictum arcu. Duis sed posuere eros. Ut elementum magna sed augue condimentum aliquam. Aenean rutrum elementum justo eget semper.Cras tempor malesuada tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a nulla a lacus dictum commodo at vel tellus. Ut sit amet iaculis tortor. Cras eu felis sit amet ex ultricies finibus. Suspendisse ultrices enim et fermentum rutrum. Nullam convallis velit quis libero volutpat laoreet. Sed sed dapibus nunc, ut bibendum sem. Sed nibh risus, convallis eu aliquam sit amet, fermentum quis nunc. Proin in tempor leo. Praesent id tortor ac ipsum imperdiet rutrum. Integer porta urna sed dui vulputate luctus. Vestibulum ac sem eget massa consectetur egestas quis sed risus.
                </p>                  
        </div>
    </div>
</div>

